.recommended {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.btn {
  padding: 7px 15px;
  margin-right: 6px;
  background: transparent;
  border: 0.6px solid rgb(97, 97, 97);
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  font-weight: 800;
  width: 140px;
}
.btn-container {
  display: flex;
  flex-wrap: wrap;

  span {
    margin: 10px;
  }
}
